{% extends "base.html" %}
 {% block container %}
 <div id="index-main-content-top">
    <img src="/static/images/syncables.index.banner.primary_imagery.png" height="447px;" />
    <div id="index-content">
    <img src="/static/images/index.easiestway.png" />
    	<p>Syncables 360 keeps your digital life in sync. Easily and automatically sync media, documents, emails and more to between PC, Mac, and Linux computers, as well as mobile phones and portable storage devices.</p>
        <a alt="Learn More" href="" class="learnmore"><img src="/static/images/index.button.learn_more.png" /></a>
		<a alt="Take a tour" href="" class="takeyourtour"><img src="/static/images/index.button.tour.png" /></a>
    </div>
    </div><!-- /main content top -->
    <div id="index-main-content-bottom">
   		<div id="solutions">
			<h3>SYNCABLES <b>SOLUTIONS</b></h3>
			<div class="solutions_content">
				<div class="solutions_content_image1"></div>
				<div class="solutions_content_image2"></div>
				<div class="solutions_content_title"><p><b>Daryl needs a bakucp solution</b></p></div>
				<div class="solutions_content_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, nunc id tincidunt mollis, purus justo gravida eros, a commodo turpis augue nec massa. Aenean.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultricies, nunc id tincidunt mollis, purus justo gravida eros, a commodo turpis augue nec massa. Aenean.</p>
				</div>
        	</div>
            <div id="solutions_footer">
            <a href="" class="solutions_learmore">
            </a>
            </div>
		</div><!-- /solutions -->
        <div id="news">
            <h3>IN THE <b>NEWS</b></h3>
            <div class="news-content">
                <div id="news-item-1" class="news-item">
                    <span class="news-item-image"><img src="" /></span> 
                    <span class="news-item-content">
                        <h4>lorem ipsum asimet duo</h4>
                        <p>lorem ipsum asimet duo narit duo simre nesis ..</p>
                    </span>
                </div><!-- news item 1 -->
                <div id="news-item-2" class="news-item">
                    <span class="news-item-image"><img src="" /></span>  
                    <span class="news-item-content">
                        <h4>lorem ipsum asimet duo</h4>
                        <p>lorem ipsum asimet duo narit duo simre nesis ..</p>
                    </span>
                </div><!-- news item 2 -->
                <div id="news-social">
                    <b>Follow us</b>
                    <a href="" class="followus-facebook"></a><a href="" class="followus-twitter"></a><a href="" class="followus-rss"></a>
                </div><!-- /news social -->
             </div><!-- /news content -->
             <div class="news-footer"></div>
        </div><!-- /news -->
    </div><!-- /main content bottom -->
    <span class="clear"></span>
    {% endblock %}