.placeholder-editable {
    border:1px #bbb solid;
    background:#fff;
    min-height:1em;
    padding:5px;
    cursor:text;
    overflow:hidden;
    height:1%;
}

.placeholder-editable input {
    float:right;
    padding:4px 10px;
    margin-top:3px;
}

.placeholder-over, .edit {
    border:1px #999 solid;
    background:#5c705c;
    color:#fff;
    cursor: hand;
}

.edit {
    padding:5px;
}

body {
    font-family:sans-serif;
    font-size:75%;
    background:#b5b185;
    color:#333;
}

#main {
    width:600px;
    padding:20px;
    margin:0 auto;
    border:1px #999 solid;
    margin-bottom:40px;
    overflow:hidden;
    height:1%;
    background:#fffdca;
}

h1, h2 {
    border-bottom:1px #ddd solid;
    color:#a4b854;
}

a {
    color:#ff7959
}

ul.breadcrumb {
    clear:left;
    padding-bottom:30px;
    margin-left:-40px;
}
ul.breadcrumb li{
    float:left;
    margin-left:5px;
    list-style:none;
    }
p.chooser a{
    text-decoration: none;
}	
p.chooser a.current {
    text-decoration: underline;
}

